
:root{
   --bg-color: #e59d32;
   --tnf-color: #66b4e8;
   --color: #000000;
   --strong: #da0606;
   --button: #ff0000;
}

body{
   grid-area: body;
   background-color: var(--bg-color);
   display: grid;
   grid-template-areas: 
   "header nav"
  "main main"  
   "footer footer" ;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 120px 1fr 60px;
   margin-left: 5px;
}

header{
   grid-area: header;
   padding-right: 20px;
      background-color: var(--tnf-color);
   border-radius: 12px;
}

nav{
   grid-area: nav;
   border-radius: 12px;
   background-color: var(--tnf-color);
   color: var(--color);
   padding: 1px;
     font-family: "Special Elite", system-ui;
     padding-top: 34px;
   margin-left: 20px;
   padding-right: 20px;
}

nav ul {
list-style: none;
display: flex;
gap: 20px;
}


main{
   grid-area: main;

}

footer{
   grid-area: footer;
      background-color: var(--tnf-color);
    color: var(--color);
    padding: 10px;
    border-radius: 12px;
    font-size: 2.0rem; 
    margin-top: 10px;
    text-align: center;
}

h3{
   font-size: 1rem;
     font-family: "Special Elite", system-ui;
 
}

h2{
    font-family: "Special Elite", system-ui;
    clear: both;
}

h1{

    color: var(--color);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 2.0rem; 
      font-family: "Special Elite", system-ui;
}

.left {
   float:left;
}

strong{
   color: var(--strong);
}

img{
   border-radius: 20px;
   margin-right: 10px;
}

p{
   font-family: "Special Elite", system-ui;
}


article{
   margin-top: 20px;
    overflow: auto;
}

nav a:hover{
   color: var(--color);
   background-color: var(--bg-color);
   border-radius: 20px;
   padding:5px;
}

nav a{
   padding:5px;
}

button{
   background-color: var(--button);
   color: var(--color);
   border-color: var(--button);
   margin-top: 20px;
   border-radius: 20px;
}

